In [1]:
import pandas as pd

In [2]:
users_df = pd.read_csv('../data/users.csv')

users_df['age'].fillna(-1, inplace=True)

split_location = users_df['location'].str.split(',', expand=True)

split_location = split_location.apply(lambda x: x.str.replace('"', '')
                                      .str.replace('\n', 'n')
                                      .str.replace('\\', ' ')
                                      .str.replace('n /', 'n/')
                                      .str.strip())
split_location.replace('', 'n/a', inplace=True)
split_location.fillna('n/a', inplace=True)

split_location.replace('n/a', 'UNKNOWN', inplace=True)

users_df['city'] = split_location[0]
users_df['state'] = split_location[1]
users_df['country'] = split_location[2]

users_df.drop(columns=['location'], inplace=True)

users_df.to_csv('../data/pp_users.csv', index=False)

users_df

           uid   age         city            state         country
0            1  -1.0          nyc         new york             usa
1            2  18.0     stockton       california             usa
2            3  -1.0       moscow  yukon territory          russia
3            4  17.0        porto         v.n.gaia        portugal
4            5  -1.0  farnborough            hants  united kingdom
...        ...   ...          ...              ...             ...
206442  278853  17.0    stranraer          UNKNOWN  united kingdom
206443  278855  50.0       tacoma       washington  united kingdom
206444  278856  -1.0     brampton          ontario          canada
206445  278857  -1.0    knoxville        tennessee             usa
206446  278858  -1.0       dublin          UNKNOWN         ireland

[206447 rows x 5 columns]

In [3]:
books_df = pd.read_csv('../data/books.csv')

books_df['summary'] = books_df['summary'].str.replace("\n", " ").str.strip()
books_df['category'] = books_df['category'].apply(lambda x: eval(x)[0] if isinstance(x, str) else x)

books_df.to_csv('../data/pp_books.csv', index=False)

books_df

,isbn,book_title,book_author,year_of_publication,publisher,summary,category
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,Provides an introduction to classical myths pl...,social science
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",actresses
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,"Here, for the first time in paperback, is an o...",1940-1949
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,"Describes the great flu epidemic of 1918, an o...",medical
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,A look at the incredibly well-preserved ancien...,design
...,...,...,...,...,...,...,...
134687,0312266448,The Military Quotation Book : Revised and Expa...,James Charlton,2002,Thomas Dunne Books,"Contains more than 1,200 quotations about war,...",reference
134688,067161746X,The Bachelor Home Companion: A Practical Guide...,P.J. O'Rourke,1987,Pocket Books,A tongue-in-cheek survival guide for single pe...,humor
134689,0743203763,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000,Simon & Schuster,Golf lovers will revel in this collection of t...,humor
134690,0767907566,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001,Broadway Books,A daring twist on the travel-adventure genre t...,nature
134691,0912333022,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997,Kqed Books,These hilarious stories by the creator of publ...,fiction